In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
# read the csv file
df = pd.read_csv("Toronto_Airbnb_Data.csv")
df = df.replace("?", np.nan)

In [12]:
# display the first five rows of the dataset to get an overview
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1419,https://www.airbnb.com/rooms/1419,20240412141305,2024-04-13,previous scrape,Beautiful home in amazing area!,"This large, family home is located in one of T...",The apartment is located in the Ossington stri...,https://a0.muscache.com/pictures/76206750/d643...,1565,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.06
1,8077,https://www.airbnb.com/rooms/8077,20240412141305,2024-04-13,previous scrape,Downtown Harbourfront Private Room,Guest room in a luxury condo with access to al...,NaN,https://a0.muscache.com/pictures/11780344/141c...,22795,...,4.90,4.92,4.83,NaN,f,2,1,1,0,0.95
2,26654,https://www.airbnb.com/rooms/26654,20240412141305,2024-04-13,city scrape,"World Class @ CN Tower, convention centre, The...","CN Tower, TIFF Bell Lightbox, Metro Convention...",There's a reason they call it the Entertainmen...,https://a0.muscache.com/pictures/81811785/5dcd...,113345,...,4.76,4.86,4.67,NaN,f,5,5,0,0,0.26
3,27423,https://www.airbnb.com/rooms/27423,20240412141305,2024-04-13,city scrape,Executive Studio Unit- Ideal for One Person,"Brand new, fully furnished studio basement apa...",NaN,https://a0.muscache.com/pictures/176936/b687ed...,118124,...,5.00,4.86,4.86,NaN,f,1,1,0,0,0.17
4,30931,https://www.airbnb.com/rooms/30931,20240412141305,2024-04-13,previous scrape,Downtown Toronto - Waterview Condo,Split level waterfront condo with a breathtaki...,NaN,https://a0.muscache.com/pictures/227971/e8ebd7...,22795,...,NaN,NaN,NaN,NaN,f,2,1,1,0,0.01

In [59]:
# display the information of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20650 entries, 0 to 20649
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20650 non-null  int64
 1   listing_url                                   20650 non-null  object
 2   scrape_id                                     20650 non-null  int64
 3   last_scraped                                  20650 non-null  object
 4   source                                        20650 non-null  object
 5   name                                          20650 non-null  object
 6   description                                   20181 non-null  object
 7   neighborhood_overview                         11103 non-null  object
 8   picture_url                                   20650 non-null  object
 9   host_id                                       20650 non-null  int64
 10  host_url                                      20650 non-null  object
 11  host_name                                     20648 non-null  object
 12  host_since                                    20648 non-null  object
 13  host_location                                 15354 non-null  object
 14  host_about                                    9651 non-null   object
 15  host_response_time                            14116 non-null  object
 16  host_response_rate                            14116 non-null  object
 17  host_acceptance_rate                          15168 non-null  object
 18  host_is_superhost                             20347 non-null  object
 19  host_thumbnail_url                            20648 non-null  object
 20  host_picture_url                              20648 non-null  object
 21  host_neighbourhood                            8339 non-null   object
 22  host_listings_count                           20648 non-null  float64
 23  host_total_listings_count                     20648 non-null  float64
 24  host_verifications                            20648 non-null  object
 25  host_has_profile_pic                          20648 non-null  object
 26  host_identity_verified                        20648 non-null  object
 27  neighbourhood                                 11104 non-null  object
 28  neighbourhood_cleansed                        20650 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      20650 non-null  float64
 31  longitude                                     20650 non-null  float64
 32  property_type                                 20650 non-null  object
 33  room_type                                     20650 non-null  object
 34  accommodates                                  20650 non-null  int64
 35  bathrooms                                     15450 non-null  float64
 36  bathrooms_text                                20640 non-null  object
 37  bedrooms                                      19101 non-null  float64
 38  beds                                          15399 non-null  float64
 39  amenities                                     20650 non-null  object
 40  price                                         20650 non-null  float64
 41  minimum_nights                                20650 non-null  int64
 42  maximum_nights                                20650 non-null  int64
 43  minimum_minimum_nights                        20650 non-null  int64
 44  maximum_minimum_nights                        20650 non-null  int64
 45  minimum_maximum_nights                        20650 non-null  int64
 46  maximum_maximum_nights                        20650 non-null  int64
 47  minimum_nights_avg_ntm                        20650 non-null  float64
 48  maximum_nights_avg_ntm                        20650 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              19633 non-null  object
 51  availability_30                               20650 non-null  int64
 52  availability_60                               20650 non-null  int64
 53  availability_90                               20650 non-null  int64
 54  availability_365                              20650 non-null  int64
 55  calendar_last_scraped                         20650 non-null  object
 56  number_of_reviews                             20650 non-null  int64
 57  number_of_reviews_ltm                         20650 non-null  int64
 58  number_of_reviews_l30d                        20650 non-null  int64
 59  first_review                                  15272 non-null  object
 60  last_review                                   15272 non-null  object
 61  review_scores_rating                          15275 non-null  float64
 62  review_scores_accuracy                        15254 non-null  float64
 63  review_scores_cleanliness                     15254 non-null  float64
 64  review_scores_checkin                         15254 non-null  float64
 65  review_scores_communication                   15254 non-null  float64
 66  review_scores_location                        15253 non-null  float64
 67  review_scores_value                           15254 non-null  float64
 68  license                                       9748 non-null   object
 69  instant_bookable                              20650 non-null  object
 70  calculated_host_listings_count                20650 non-null  int64
 71  calculated_host_listings_count_entire_homes   20650 non-null  int64
 72  calculated_host_listings_count_private_rooms  20650 non-null  int64
 73  calculated_host_listings_count_shared_rooms   20650 non-null  int64
 74  reviews_per_month                             15272 non-null  float64
dtypes: float64(20), int64(21), object(34)
memory usage: 11.8+ MB

In [4]:
# Remove the dollar sign from the 'price' column and convert price to float64
df['price'] = df['price'].astype(str).str.replace('[$,]', '', regex=True)
df['price'] = df['price'].astype('float')

In [5]:
# replace the NaN value in price column with the calculated mean
price_avg = df['price'].mean()
df['price'] = df['price'].replace(np.nan, price_avg)

In [6]:
df['price']

0        183.018895
1        183.018895
2        145.000000
3         75.000000
4        183.018895
            ...
20645    288.000000
20646    120.000000
20647    224.000000
20648    130.000000
20649    250.000000
Name: price, Length: 20650, dtype: float64

In [7]:
# Delete rows with the NaN values in column host_is_superhost, convert it to boolean
df = df.dropna(subset=['host_is_superhost'])
df['host_is_superhost'] = df['host_is_superhost'].astype(bool)

In [13]:
df['host_is_superhost']

0        f
1        f
2        f
3        f
4        f
        ..
20645    f
20646    f
20647    f
20648    t
20649    f
Name: host_is_superhost, Length: 20650, dtype: object

In [16]:
# Last step, save the cleaned dataframe in a csv file
df.to_csv('Cleaned_Toronto_Airbnb_Data.csv', index=False)
print("saved!")

saved!